/* ==UserStyle==
@name           yourCompany
@namespace      github.com/openstyles/stylus
@version        1.0.6
@description    Generic branding for the main Invida web app 
@author         Invida
==/UserStyle== */
@-moz-document domain("invida.co.uk") {

	body {
		--logo-url: url("https://raw.githubusercontent.com/InvidaDev/user-styles/main/logo/your-company.png");
		--primary-color: #CC9900;
		--sidebar-color: #000;
		--sidebar-disabled-feature-color: #5e626b;
	}

	span.tenant-logo,
	.navbar-brand span.tenant-logo,
	.navbar-nav .tenant-product-logo {
		background-image: var(--logo-url) !important;
		position: relative !important;
		top: 10px !important;
		left: 5px !important;
		right: initial !important;
		height: 54px !important;
		width: inherit !important;
		bottom: initial !important;
		transform: scale(1.033) translateY(-3px) translateX(-3px) !important;
		margin: 0 !important;
	}
	
	span.login-logo {
		background-image: var(--logo-url) !important;
	}

	.background-branded {
		background-color: var(--primary-color) !important;
		color: black !important;
	}
	.background-branded [ng-if="opt.sso_IconRes.length"] img {
		filter: invert(0.85)
	}

	html[data-ng-app="app"].ng-scope .login-page .login-v2 .login-content {
		background-color: var(--primary-color) !important;
	}

	html[data-ng-app="app"].ng-scope .login-page .login-v2 .login-content .login-buttons button[type=submit] {
		font-weight: bold !important;
		background-color: #000 !important;
		color: #fff !important;
	}
	html[data-ng-app="app"].ng-scope .login-page .login-v2 .login-content .login-buttons button[type=submit]:hover {
		background-color: #472816 !important;
	}

	html[data-ng-app="app"].ng-scope .login-page {
		background: unset !important;
		background-color: unset !important;
	}
	
	.navbar.navbar-inverse .navbar-brand,
	.sidebar .nav > li.active > a,
	.sidebar .nav > li.active > a:focus,
	.sidebar .nav > li.active > a:hover,
	.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a,
	.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a,
	.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
	.label.label-theme,
	.btn.btn-scroll-to-top {
		background: var(--primary-color) !important;
	}
	.navbar.navbar-inverse .navbar-brand {
		color: #fff !important;
	}
	.text-theme,
	.sidebar .sub-menu > li.active > a:before {
		color: var(--primary-color) !important;
	}
	.pace-progress {
		background: var(--primary-color) !important;
	}
	.pace .pace-activity {
		border-top-color: var(--primary-color) !important;
		border-left-color: var(--primary-color) !important;
	}
	.page-with-light-sidebar .sidebar .nav > li.active > a > i {
		color: var(--primary-color) !important;
	}
	.page-with-light-sidebar .sidebar .nav > li.active > a .badge,
	.page-with-light-sidebar .sidebar .nav > li.active > a .label.label-theme {
		background: var(--primary-color) !important;
	}
	
	.top-menu .nav > li.active > a,
	.top-menu .nav > li.active > a:focus,
	.top-menu .nav > li.active > a:hover {
		background: var(--primary-color) !important;
	}

	.job-header .job-content-area {
		border-color: var(--primary-color) !important;
	}

	#sidebar {
		background-color: var(--sidebar-color) !important;
	}
	.sidebar-bg {
		background-color: var(--sidebar-color) !important;
	}
	.feature-disabled a,
	.feature-disabled a:hover {
		color: var(--sidebar-disabled-feature-color) !important;
	}

	.jvectormap-marker {
		fill: var(--primary-color) !important;
	}
	.sidebar-minify-btn {
		background-color: var(--primary-color) !important;
	}
}
